.navbar{
    background-color: #2874f0;
    display: flex;
    justify-content: space-between;
    color: azure;
    z-index: 1;
    height: 56px;
    text-align: center;
    width: 100vw;
    margin: -9px;
}
body{
    background-color: #f1f3f6;
    font-family: 'Roboto', sans-serif;
}
.logo{
    margin-top: 1%;
    cursor: pointer;
}
.logo > img{
    width: 75px;
    margin-top: auto;
}
.caption > img{
    width: 10px;
    height: 10px;
}
.navbar > :nth-child(1)
{
    display: flex;
    width: 750px;
    margin-left: 10%;
    justify-content: space-between;
}
.navbar > :nth-child(1) > :nth-child(2)
{
    display:flex;
    margin-top: 1%;
}
.caption{
    display: flex;
    vertical-align: middle;
    margin-right: 1%;
}
.caption > :nth-child(1) > :nth-child(2)
{
    color: #ffe11b;
}
.caption > :nth-child(1)
{
    margin-top: -20px;
}
.flex{
    display: flex;
    vertical-align: baseline;
    margin-top: 4%;
}
#search_icon{
    color: #2874f0;
    background-color: white;
    height: 25.5px;
    padding: 0.5%;
    margin-top: 1%;
    cursor: pointer;
}
.navbar > :nth-child(2)
{
    display: flex;
    justify-content: space-around;
    width: 25%;
    margin-right: 8%;
    margin-left: 4%;
    font-size: larger;
    /* margin-top: 3%; */
}
#searchbox{
    min-width: 600px;
    border: none;
    padding-left: 3%;
}
#searchbox:focus{
    outline-width: 0;
}
.material-icons{
    margin-top: 1%;
}
.navbar input{
    margin-top: 1%;
    height: 61%;
}
.login{
    width: 25%;
    background-color: white;
    color: #2874f0;
    padding: 1%;
    height: 40%;
    margin-top: 3%;
    cursor: pointer;
}
.text{
    margin-top: 3%;
    cursor: pointer;
}
.image{
    display: flex;
}
.slideshow_container{
    overflow: hidden;
    max-width: 100vw;
    position: relative;
    margin-top: 1%;
}
.slideshow_container .mySlides,
.slideshow_container .mySlides--hidden{
    display: none;
}
.slideshow_container .mySlides img{
    max-width: 100vw;
    height: auto;
    max-width: 100%;
}
.slideshow_container .mySlides--visible{
    display: block;
    animation: fadeVisibility 0.5s;
}
.slideshow_container .actions{
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.slideshow_container .actions a{
    font-size: xx-large;
    border-radius: 50px;
    border: none;
}
.slideshow_container .actions a#prev{
    margin-left: 20px;
}
.slideshow_container .actions a#next{
    margin-right: 20px;
}

@keyframes fadeVisibility{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
        transform: opacity linear;
    }
}
.dropdown{
    visibility: hidden;
    position: fixed;
    z-index: 10;
    min-width: 18%;
    list-style-type:none;
    background-color: white;
    margin-left: -6%;
    padding-left: 0px;
    margin-top: 2.4%;
    box-shadow: 0 0 8px 4px hsl(0deg 0% 78% / 21%);
}
.dropdown li{
    display: block;
    color: black;
    text-align: left;
    margin-left: 1px;
    border: .5px solid #f1f3f6;
    /* margin-top: 1%; */
    padding: 3%;
}
.dropdown li span{
    color: #2874f0;
}
.dropdown:after{
    content: ' ';
    width: 0px;
    height: 0px;
    border-top: 10px solid transparent;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid white;
    bottom: 100%;
    left: 50%;
    margin-right: -10px;
    position: absolute;
}